extends ./layout.jade

block additionalStyles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

block content
  div.row
    div.col.s12
      if (!connected)
        h1#heading.center.thin Welcome back, #{locals.displayName}!
        h2.center.thin: a(href='/connect') Get started by connecting a site!
      else
        h1#heading.center.thin Welcome back, #{locals.displayName}!
        if facebookPosts.length > 0
          each post in facebookPosts.reverse()
            div.row
              div.col.s6.offset-s3
                div.card.facebook
                  div.card-content
                    a(onclick='dismiss("#{post._id}", "facebook", this)'): i.fa.fa-times.close.grey-text.darken-3
                    div.postInfo
                      p.card-title.truncate= post.title                        
                      p.timestamp(data-timestamp='#{post.timestamp}')
                        span= moment(new Date(post.timestamp).toISOString()).fromNow()
                        if post.permalink
                          span &nbsp;&bull;&nbsp;
                            a(href='#{post.permalink}') permalink
                        if post.url
                          span &nbsp;&bull;&nbsp;
                            a(href='#{post.url}') shared link
                    p.content= post.content
                  if post.picture
                    div.card-image
                      if post.url
                        a(href='#{post.url}'): img(src='#{post.picture}')
                      else
                        img(src='#{post.picture}')
        else
          h5.center.thin (No updates... check back later!)

block additionalScripts
  script(src='/static/js/contentActions.js')
  script(src='/calendar/moment.js')