extends ./layout.pug

block additionalStyles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

block content
  div.row
    div.col.s12
      if (!connected)
        h1.main-heading.center.thin Welcome back, #{locals.displayName}!
        h2.center.thin: a(href='/services') Get started by connecting a service!
      else
        h1.main-heading.center.thin Welcome back, #{locals.displayName}!
        if batches.length > 0
          each batch in batches
            if batch.posts.length > 0
              div.batch-heading.center
                p #{moment(new Date(batch.updateTime).toISOString()).fromNow()} &bull; #{batch.description}
                  i.material-icons.pull-left access_time
              each post in batch.posts.reverse()
                div.row
                  div.col.l6.offset-l3.s12
                    div(class='card card-dashboard card-'+post.service)
                      div.card-content
                        a(onclick='dismiss("'+batch._id+'", "'+post._id+'", this)'): i.fa.fa-times.close.grey-text.darken-3
                        div.postInfo
                          p.card-title.truncate= post.title
                          p.timestamp.truncate(data-timestamp=post.timestamp)
                            span= moment(new Date(post.timestamp).toISOString()).fromNow()
                            if post.permalink
                              if (post.service == 'youtube')
                                span &nbsp;&bull;&nbsp;
                                  a(href=post.permalink, target='_blank') channel
                              else
                                span &nbsp;&bull;&nbsp;
                                  a(href=post.permalink, target='_blank') permalink
                            if post.url
                              if (post.service == 'youtube')
                                span &nbsp;&bull;&nbsp;
                                  a(href=post.url, target='_blank') video
                              else
                                span &nbsp;&bull;&nbsp;
                                  a(href=post.url, target='_blank') shared link
                            if post.actionDescription
                              span(title=post.actionDescription) &nbsp;&bull;&nbsp; #{post.actionDescription}
                        if (post.service == 'youtube')
                          p.content!= post.content
                        else
                          p.content= post.content
                      if post.picture
                        if post.url
                          a(href=post.url, target='_blank')
                            div.card-image(style='background-image: url("'+post.picture+'");')
                        else
                          div.card-image(style='background-image: url("'+post.picture+'");')
          div.row
            div.col.l8.offset-l2.s12
              ul.pagination.center.dashboard-pagination
                li(class=currentPage === 1 ? 'disabled hide' : 'waves-effect')
                  a(href=currentPage === 1 ? 'javascript:void(0)' : '/dashboard'): i.material-icons fast_rewind
                li(class=currentPage === 1 ? 'disabled hide' : 'waves-effect')
                  a(href=currentPage === 1 ? 'javascript:void(0)' : '/dashboard/'+(currentPage-1)): i.material-icons chevron_left
                if startPage > 1
                  li.disabled.hide-on-small-only
                    a.page(href='javascript:void(0)') ...
                - let count = startPage
                  while count <= endPage
                    li(class=currentPage === count ? 'active' : 'waves-effect hide-on-small-only')
                      a.page(href='/dashboard/'+count) #{count}
                    - count++
                if endPage < numPages
                  li.disabled.hide-on-small-only
                    a.page(href='javascript:void(0)') ...
                li(class=currentPage === numPages ? 'disabled hide' : 'waves-effect').no-margin
                  a(href=currentPage === numPages ? 'javascript:void(0)' : '/dashboard/'+(currentPage+1)): i.material-icons chevron_right
                li(class=currentPage === numPages ? 'disabled hide' : 'waves-effect').no-margin
                  a(href=currentPage === numPages ? 'javascript:void(0)' : '/dashboard/'+numPages): i.material-icons fast_forward
        else
          h5.center.thin
              i.fa.fa-sun-o.fa-5x.grey-text.darken-2
              p.iconText.grey-text.darken-2 The dashboard is clear today!

block additionalScripts
  script(src='/static/js/dashboardActions.js')
  script(src='/calendar/moment.js')