extends ./layout.jade

block additionalStyles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

block content
  div.row
    div.col.s12
      if (!connected)
        h1#heading.center.thin Welcome back, #{locals.displayName}!
        h2.center.thin: a(href='/connect') Get started by connecting a site!
      else
        h1#heading.center.thin Welcome back, #{locals.displayName}!
        if facebookPosts.length > 0
          each post in facebookPosts
            div.row
              div.col.s6.offset-s3
                div.card.facebook
                  div.card-content
                    a(onclick='dismiss("#{post._id}", "facebook", this)'): i.fa.fa-times.close.grey-text.darken-3
                    span.card-title.truncate= post.title
                    p= post.content
        else
          h5.center.thin (No updates... check back later!)

block additionalScripts
  script(src='/static/js/contentActions.js')