extends ./layout.pug

block title
  title Dash | Error

block content
  div.row
    div.col.s12
      h1.error-heading.center.thin #{title}: #{message}
    if (message && message.length > 0)
      if (process.env.NODE_ENV == 'dev')
        div.row
          div#errorBox.col.s12
            div#errorMessage.center
              p.italic: strong Note: You are currently in the development environment. A full report on this error is made available below.
              p.border: strong Full Error:
              p.hyphenate !{fullError}
              p.border: strong Stack Trace:
              p.hyphenate !{stack}
      else
        div.row
          div#errorBox.col.s12
            div#errorMessage.center
              p.hyphenate !{description}

  div.row
    div#errorActions.col.s12
      a.waves-effect.waves-dark.btn.btn-front.blue.darken-3(href='/') Return
        i.material-icons.left arrow_back