extends ./layout.pug

block additionalStyles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

block content
  div.row
    div.col.s8.offset-s2
      h1.page-heading.thin Connected Services

  div.row
    if (message.length > 0)
      div#formMessage.center: p !{message}
    div#services.col.s8.offset-s2
      a.waves-effect.waves-light.btn.btn-front.darken-3.left(href=typeof facebook === 'undefined' ? '/services/auth/facebook' : '#', class=typeof facebook === 'undefined' ? 'grey' : 'btn-facebook dropdown-button', data-activates=typeof facebook === 'undefined' ? '' : 'facebook') Facebook
        i.fa.fa-facebook-official.left
      a.waves-effect.waves-light.btn.btn-front.darken-3.left(href=typeof youtube === 'undefined' ? '/services/auth/youtube' : '#', class=typeof youtube === 'undefined' ? 'grey' : 'btn-youtube dropdown-button', data-activates=typeof youtube === 'undefined' ? '' : 'youtube') Youtube
        i.fa.fa-youtube.left

      <!-- Facebook Dropdown Structure -->
      ul#facebook.dropdown-content
        li: a(href='/setup/facebook/groups') Groups
          i.material-icons.left settings
        li: a(href='/setup/facebook/pages') Pages
          i.material-icons.left settings
        if facebookOn
          li: a.modal-trigger(href='#', onclick='updateModal("Facebook"); return false;') Update
            i.material-icons.left update
          li: a.modal-trigger(href='#', onclick='resetModal("Facebook"); return false;') Reset
            i.material-icons.left sync_problem
          li: a.modal-trigger(href='#', onclick='toggleModal("Facebook", false); return false;') Disable
            i.material-icons.left sync_disabled
        else
          li: a.modal-trigger(href='#', onclick='toggleModal("Facebook", true); return false;') Enable
            i.material-icons.left sync
        li: a(href='/services/remove/facebook') Remove
          i.material-icons.left clear

      <!-- YouTube Dropdown Structure -->
      ul#youtube.dropdown-content
        li: a(href='/setup/youtube/subscriptions') Subscriptions
          i.material-icons.left settings
        if youtubeOn
          li: a.modal-trigger(href='#', onclick='updateModal("YouTube"); return false;') Update
            i.material-icons.left update
          li: a.modal-trigger(href='#', onclick='resetModal("YouTube"); return false;') Reset
            i.material-icons.left sync_problem
          li: a.modal-trigger(href='#', onclick='toggleModal("YouTube", false); return false;') Disable
            i.material-icons.left sync_disabled
        else
          li: a.modal-trigger(href='#', onclick='toggleModal("YouTube", true); return false;') Enable
            i.material-icons.left sync
        li: a(href='/services/remove/youtube') Remove
          i.material-icons.left clear

      <!-- Update Modal Structure -->
      div#updateModal.modal
        div.modal-content
          h4#updateTitle
          p#updateDescription
        div.modal-footer
          a.modal-action.modal-close.waves-effect.waves-blue.btn-flat Cancel
          a#updateConfirm.modal-action.modal-close.waves-effect.waves-blue.btn-flat(href='#', onclick='')

      <!-- Reset Modal Structure -->
      div#resetModal.modal
        div.modal-content
          h4#resetTitle
          p#resetDescription
        div.modal-footer
          a.modal-action.modal-close.waves-effect.waves-blue.btn-flat Cancel
          a#resetConfirm.modal-action.modal-close.waves-effect.waves-blue.btn-flat(href='#', onclick='')

      <!-- Toggle Modal Structure -->
      div#toggleModal.modal
        div.modal-content
          h4#toggleTitle
          p#toggleDescription
        div.modal-footer
          a.modal-action.modal-close.waves-effect.waves-blue.btn-flat Cancel
          a#toggleConfirm.modal-action.modal-close.waves-effect.waves-blue.btn-flat(href='#', onclick='')

block additionalScripts
  script(src='/static/js/notify.js')
  script(src='/static/js/serviceActions.js')
  script(src='/static/js/facebookHashFix.js')