extends ./layout.pug

block content
  div.row
    div.col.s8.offset-s2
      h1.page-heading.thin Dash Settings

  div.row
  if (message.length > 0)
    div#formMessage.center: p #{message}

  div.row#settings-section
    div.col.s8.offset-s2
      ul#settings.tabs
        li.tab.col.s4: a.active(href='#profile') Manage Profile
        li.tab.col.s4: a(href='#account') Manage Account

      div.row.no-margin
        div#profile.col.s10.offset-s1
          div.col.s12
            div.card.card-settings
              div.card-content
                span.card-title Display Name Settings
                div.row.no-margin
                  p Customize your display name across Dash. How should we refer to you?
                  form#displayNameForm(action='/settings/profile/display_name', method='POST')
                    div.row
                      div.input-field.col.s12
                        i.material-icons.prefix assignment_ind
                        input#displayName.border-blue(value=locals.displayName, type='text', name='displayName')
                        label(for='displayName') Display Name
              div.card-action
                a(href='#', onclick='$("#displayNameForm").submit();') Update Display Name
          div.col.s12
            div.card.card-settings
              div.card-content
                span.card-title Avatar Settings
                div.avatar-section.row.valign-wrapper
                  div.col.s1
                    img(src=locals.avatar).circle.responsive-img
                  div.col.s11
                    p We use Gravatar for your Dash avatar. You can create a Gravatar account using the same email address as what you've used to register with Dash.
                span.card-title Upload Custom Avatar
                div.row.no-margin
                  p You can specify a custom avatar as an alternative to using Gravatar. We recommend an equal width and height for consistent resizing. The following criteria must be met:
                  ul
                    li The file extension must be .png or .jpg/.jpeg
                  form#avatarForm(action='/settings/profile/avatar', method='POST')
                    div.row
                      div.input-field.col.s12
                        i.material-icons.prefix photo
                        input#avatar.border-blue(value=locals.avatar, type='text', name='avatar')
                        label(for='avatar') Custom Avatar URL
              div.card-action
                a(href='https://en.gravatar.com/', target='_blank') Visit Gravatar
                a(onclick='$("#avatarForm").submit();') Set Custom Avatar
                a(onclick='resetAvatar(); return false;') Revert to Gravatar

      div.row.no-margin
        div#account.col.s10.offset-s1
          div.col.s12
            div.card.card-settings
              div.card-content
                span.card-title Change Email Address
                div.row.no-margin
                  p
                    b Warning: All service preferences will be lost.
                    |  The following actions must be taken after changing your email address:
                  ul
                    li You will need to reconnect to
                      b  all
                      |  of your active services
                    li Preferences will need to be set up again
                      b  from scratch
                    li You will be required to verify your new email address
                  form#emailForm(action='/settings/account/email', method='POST')
                    div.row
                      div.input-field.col.s12
                        i.material-icons.prefix person
                        input#email.border-blue(value=locals.email, type='text', name='email')
                        label(for='email') Email Address
              div.card-action
                a(onclick='$("#emailForm").submit();') Change Email Address
          div.col.s12
            div.card.card-settings
              div.card-content
                span.card-title Change Password
                div.row.no-margin
                  p Please type in your current password to authorize this change. Then type in your new password twice. The following criteria must be met:
                  ul
                    li The new password must be at least 8 characters long
                    li The new password must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number
                  form#passwordForm(action='/settings/account/password', method='POST')
                    div.row
                      div.input-field.col.s12
                        i.material-icons.prefix security
                        input#currentPass.border-blue(type='password', name='currentPass')
                        label(for='currentPass') Current Password
                      div.input-field.col.s12
                        i.material-icons.prefix lock
                        input#newPass.border-blue(type='password', name='newPass')
                        label(for='newPass') New Password
                      div.input-field.col.s12
                        i.material-icons.prefix compare_arrows
                        input#newPassConfirm.border-blue(type='password', name='newPassConfirm')
                        label(for='newPassConfirm') Confirm New Password
              div.card-action
                a(onclick='$("#passwordForm").submit();') Change Password
          div.col.s12
            div.card.card-settings
              div.card-content
                span.card-title Delete Account
                p
                  b Warning: After deletion, your account cannot be restored.
                  |  We do not retain any information or preferences upon account deletion. There is no turning back once done.
              div.card-action
                a.modal-trigger(onclick='deleteModal(); return false;') Delete Account

  <!-- Account Removal Modal Structure -->
  div#deleteModal.modal
    div.modal-content
      h4 WARNING: Account Deletion
        p By proceeding with the account deletion, all preferences and data will be lost. You will be required to start from scratch with a new account if you change your mind after deletion. There is no restoration process - once deleted, your account is gone forever.
        p NOTE: If your goal is to reset your service-specific preferences, a reset option exists on the services page. You may reset the service or remove the service from the services page. There is no need to delete your account unless you no longer want one.
    div.modal-footer
      a.modal-action.modal-close.waves-effect.waves-blue.btn-flat Cancel
      a#deleteConfirm.modal-action.modal-close.waves-effect.waves-blue.btn-flat Delete Account

block additionalScripts
  script(src='/jquery/jquery.validate.js')
  script(src='/jquery/additional-methods.js')
  script(src='/static/js/validator.js')
  script(src='/static/js/settings.js')
  script(src='/static/js/settingsActions.js')