extends ./layout.jade

block content
  div.row
    div.col.s8.offset-s2
      h1#pageHeading.thin Facebook #{ucfirst(contentName)}

  if (message.length > 0)
    div#formMessage.center: p #{message}
  
  div.row
    div.col.s8.offset-s2
      h5 Select the #{contentName} you'd like to be updated on below!

  div.row
    div.col.s12
      form#setupForm.col.s8.offset-s2(action='/setup/facebook/#{contentName}', method='POST')
        each val, index in content
          div.col.s4
            p
              input(type='checkbox', id=val, name=val+':'+index)
              label(for=val)= index
        div.row
          div#controls.input-field.col.s8.offset-s2.blue-text.text-darken-3.topPadding
            button.waves-effect.waves-dark.btn.btn-front.blue.darken-3.right(type='submit') Submit #{ucfirst(contentName)}
              i.material-icons.right send

block additionalScripts
  script(src='/static/js/facebookHashFix.js')