extends ./layout.pug

block content
  div.row
    div.col.s8.offset-s2
      h1.page-heading.thin YouTube #{ucfirst(contentName)}

  if (message.length > 0)
    div#formMessage.center: p #{message}

  div.row
    div.col.s8.offset-s2
      h5 Select the #{contentName} you'd like to be updated on below!

      input(id='selectAll', type='checkbox')
      label(for='selectAll') Select All Subscriptions

  div.row
    div.col.s12
      form#setupForm.col.s8.offset-s2(action='/setup/youtube/'+contentName, method='POST')
        each val, index in content
          div.col.s3
            div.card.youtube-sub-card
              a(href='https://www.youtube.com/channel/'+val.id, target='_blank')
                div.card-image
                  img(src=val.thumbnail)
                  span.card-title.fadeTitle= index
              div.card-content
                p.contain-text= val.description
              div.card-action
                input(type='checkbox', id=val.id, name=val.id+';'+index+';'+val.thumbnail checked=val.checked)
                label(for=val.id)= 'Receive updates'
        div.row
          div#controls.input-field.col.s12.blue-text.text-darken-3.topPadding
            button.waves-effect.waves-dark.btn.btn-front.blue.darken-3.right(type='submit') Submit #{ucfirst(contentName)}
              i.material-icons.right send

block additionalScripts
  script(src='/static/js/select.js')
